<!DOCTYPE html>
<html>
    <head xmlns:th="http://thymeleaf.org">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/templates.css" type="text/css">
        <link rel="stylesheet" href="../css/design.css" type="text/css">
    </head>
    <body>
          <div>Столик успешно зарезервирован! В течение нескольких минут
              с вами свяжется администратор для подтверждения брони.</div>
          <div><a class="backref btn" href="/menu" style="margin: 20px">На главную</a></div>
    </body>
</html>