<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/design.css" type="text/css">
        <link rel="stylesheet" href="css/templates.css" type="text/css">
        <link rel="stylesheet" href="css/contact.css" type="text/css">
    </head>
    <body>
        <div class="container-column">
            <div class="container-column-block">
                <p>Ресторан был основан известным ресторанный критиком Наруто Узумаки 
                    в 2017. После востоженных отзывов первых посетителей ресторан был 
                    включен в именитый рейтинг ресторанов Конохи в 2019. Также наш 
                    ресторан получил звезду красного гида "Горячий рамен" в 2021. 
                    В нашем ресторане вы можете попробовать лучшие блюда японской кухни.
                </p>
            </div>
            <div class="container-column-block" id="employee-block">
                <header>
                    Персонал
                </header>
                <div id="employees">
                    <div class="employee">
                        <p class="position">Владелец</p>
                        <img class="employee-pic" src="img/employee/owner.jpg" alt="">
                    </div>
                    <div class="employee">
                        <p class="position">Управляющий</p>
                        <img class="employee-pic" src="img/employee/mini-boss.jpg" alt="">
                    </div>
                    <div class="employee">
                        <p class="position">Администратор</p>
                        <img class="employee-pic" src="img/employee/administrator.jpg" alt="">
                    </div>
                    <div class="employee">
                        <p class="position">Шеф-повар</p>
                        <img class="employee-pic" src="img/employee/chief.jpg" alt="">
                    </div>
                    <div class="employee">
                        <p class="position">Повар</p>
                        <img class="employee-pic" src="img/employee/cooker1.jpg" alt="">
                    </div>
                    <div class="employee">
                        <p class="position">Повар</p>
                        <img class="employee-pic" src="img/employee/cooker2.jpg" alt="">
                    </div>
                    <div class="employee">
                        <p class="position">Бармен</p>
                        <img class="employee-pic" src="img/employee/barmen.jpg" alt="">
                    </div>
                    <div class="employee">
                        <p class="position">Ст. официант</p>
                        <img class="employee-pic" src="img/employee/waiter.jpg" alt="">
                    </div>
                </div>
                <script src="js/slide.js"></script>
            </div>
            <div class="container-column-block" id="address">
                Мы находимся по адресу: г.Москва пр-т Вернадского д.78
            </div>
        </div>
        <footer>
            <a class="backref btn" href="/menu">Назад</a>
        </footer>
    </body>
</html>
