<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/templates.css" type="text/css">
        <link rel="stylesheet" href="css/gallery.css" type="text/css">
        <link rel="stylesheet" href="css/design.css" type="text/css">
    </head>
    <body>
        <div class="gallery-row">
            <div class="gallery-column">
                <img src="" alt="" class="image-gallery1 image">
                <img src="" alt="" class="image-gallery2 image">
                <img src="" alt="" class="image-gallery1 image">
                <img src="" alt="" class="image-gallery2 image">
            </div>
            <div class="gallery-column">
                <img src="" alt="" class="image-gallery2 image">
                <img src="" alt="" class="image-gallery1 image">
                <img src="" alt="" class="image-gallery2 image">
                <img src="" alt="" class="image-gallery1 image">
            </div>
            <div class="gallery-column">
                <img src="" alt="" class="image-gallery1 image">
                <img src="" alt="" class="image-gallery2 image">
                <img src="" alt="" class="image-gallery1 image">
                <img src="" alt="" class="image-gallery2 image">
            </div>
        </div>
        <footer>
            <a href="/menu" class="backref btn">Назад</a>
        </footer>
    </body>
</html>